<template>
  <q-page class="flex flex-center">
    <course-list />
  </q-page>
</template>

<script>
import { defineComponent } from "vue";
import CourseList from "../components/CourseList.vue";

export default defineComponent({
  components: { CourseList },
  name: "PageIndex",
});
</script>
