<template>
  <q-page class="flex flex-center">
    <div class="container q-mt-md q-gutter-md" style="width: 70%">
      <h1 class="text-h4 text-weight-bold">Login</h1>
      <Form :validation-schema="schema" @submit="submit">
        <QInputWithValidation
          label="Email"
          name="email"
          placeholder="user@example.com"
        />
        <QInputWithValidation
          label="Password"
          name="password"
          placeholder="p@$$vv0Rd"
        />
        <q-btn class="q-mt-md" color="primary" type="submit" label="Login" />
      </Form>
      <template v-if="this.validationErrors !== []">
        <div
          class="column bg-negative text-white items-center"
          style="border-radius: 20px"
        >
          <span v-if="this.emailError">{{ emailError }}</span>
          <span v-if="this.passwordError">{{ passwordError }}</span>
        </div>
      </template>
    </div>
  </q-page>
</template>

<script>
import { Form } from "vee-validate";
import * as yup from "yup";
import QInputWithValidation from "../components/QInputWithValidation.vue";
import { inject } from "vue";
let store = null;
export default {
  name: "LoginPage",
  components: {
    Form,
    QInputWithValidation,
  },
  setup() {
    store = inject("store");
    const schema = yup.object({
      email: yup.string().required().email().label("Email address"),
      password: yup
        .string()
        .required()
        .min(6)
        .matches(
          /^(?=.*[a-z])(?=.*[A-Z])(?=.*[0-9])(?=.*[!@#$%^&*])(?=.{8,})/,
          "Must Contain 8 Characters, One Uppercase, One Lowercase, One Number and One Special Case Character"
        )
        .label("Password"),
    });
    return {
      store,
      schema,
    };
  },
  data() {
    return {
      validationErrors: [],
      emailError: "",
      passwordError: "",
    };
  },
  methods: {
    async submit(values, actions) {
      try {
        const response = await store.methods.login(values);
        const data = response.data;
        if (response.status === 200) {
          if (data.refreshToken) {
            localStorage.setItem("token", data.refreshToken);
            const user = {
              username: data.user.username,
              eMail: data.user.email,
              token: data.accessToken,
              isLoggedin: true,
              id: data.user.id,
            };
            this.store.methods.updateState(user);
          }
          actions.resetForm();
          this.$router.push({ name: "home" });
        }
      } catch (error) {
        this.validationErrors = error.response.data.validationErrors;
        let { email, password } = error.response.data.validationErrors;
        this.emailError = email;
        this.passwordError = password;
      }
    },
  },
};
</script>
