<template>
  <div>
    <q-btn-dropdown flat text-color="white" color="primary" label="Account">
      <div class="row no-wrap q-pa-md">
        <div class="column">
          <q-avatar size="4em">
            <img src="https://cdn.quasar.dev/img/boy-avatar.png" />
          </q-avatar>
        </div>
        <div class="column q-ml-sm">
          <div class="text-subtitle2 text q-mb-xs">
            {{ store.getters.getUsername() }}
          </div>
          <q-item clickable v-ripple @click="myCourses()">
            <q-item-label>My courses</q-item-label>
          </q-item>
          <q-btn
            color="primary"
            label="Logout"
            push
            size="md"
            v-close-popup
            @click="logout"
          />
        </div>
      </div>
    </q-btn-dropdown>
  </div>
</template>

<script>
import { inject } from "vue";
export default {
  name: "AccountTab",
  setup() {
    const store = inject("store");
    function logout() {
      store.methods.logout();
    }
    return {
      store,
      logout,
    };
  },
  methods: {
    myCourses() {
      this.$router.push({ path: `/users/${this.store.state.id}/my-courses` });
    },
  },
};
</script>
