<template>
  <q-list class="column items-center q-pa-sm" separator>
    <item-cart
      v-for="course in this.store.state.cart"
      v-bind:key="course.id"
      :course="course"
    />
    <q-btn
      class="fit"
      color="primary"
      label="buy"
      v-close-popup
      @click="buy()"
    />
  </q-list>
</template>

<script>
import { inject } from "vue";
import ItemCart from "./ItemCart.vue";
export default {
  components: { ItemCart },
  setup() {
    const store = inject("store");
    return {
      store,
    };
  },
  methods: {
    async buy() {
      this.store.state.cart.forEach(async (element) => {
        const response = await this.store.methods.buyCourse(element.id);
      });
      this.store.setters.emptyCart();
    },
  },
};
</script>

<style></style>
