<template>
  <div class="col-12 q-mt-md">
    <q-card>
      <q-card-section class="row justify-between items-center"
        ><div class="text-h6">Course Content</div>
        <q-card-actions>
          <q-space />
          <q-btn
            color="primary"
            round
            flat
            dense
            :icon="expanded ? 'keyboard_arrow_up' : 'keyboard_arrow_down'"
            @click="expanded = !expanded"
          />
        </q-card-actions>
      </q-card-section>

      <q-slide-transition>
        <div v-show="expanded">
          <q-card-section class="text-subitle2">
            <q-list separator>
              <content-item
                v-for="content in contents"
                v-bind:key="content"
                :content="content"
              />
            </q-list>
          </q-card-section>
        </div>
      </q-slide-transition>
    </q-card>
  </div>
</template>

<script>
import { ref } from "vue";
import ContentItem from "./ContentItem.vue";
export default {
  components: { ContentItem },
  name: "ContentSlide",
  props: {
    contents: {
      type: Array,
    },
  },
  setup() {
    return {
      expanded: ref(false),
    };
  },
};
</script>

<style></style>
