<template>
  <div class="col-xs-12 col-md-7">
    <q-img style="border-radius: 10px" v-bind:src="courseDetails.coverImg" />
  </div>
  <q-card class="column col-xs-12 col-md-4 q-mt-xs-md q-mt-md-none">
    <q-card-section>
      <div class="text-h6">{{ courseDetails.courseName }}</div>
      <div>
        <q-icon name="star_border" color="primary" />
        <span>{{ courseDetails.rate }}</span>
      </div>
      <div>
        <q-item class="q-mt-md q-pa-none" clickable v-ripple>
          <q-item-section side>
            <q-avatar rounded size="48px">
              <img src="https://cdn.quasar.dev/img/avatar.png" />
            </q-avatar>
          </q-item-section>
          <q-item-section>
            <q-item-label>{{ ins.fullName }}</q-item-label>
            <q-item-label caption>Software Engineer</q-item-label>
          </q-item-section>
          <q-item-section side> 3 courses </q-item-section>
        </q-item>
      </div>
      <div class="text-h6 text-green q-mt-lg q-mb-sm">
        ${{ courseDetails.price }}
      </div>
      <q-card-actions align="right" class="q-pa-none">
        <q-btn class="fit" color="primary" label="BUY" size="md" />
      </q-card-actions>
    </q-card-section>
  </q-card>
  <div class="col-12 q-mt-md">
    <q-card>
      <q-card-section>
        <div class="text-h6">Description</div>
        <div>{{ courseDetails.description }}</div>
      </q-card-section>
    </q-card>
  </div>
</template>

<script>
export default {
  name: "DetailsCard",
  props: {
    courseDetails: {
      type: Object,
    },
    ins: {
      type: Object,
    },
  },
};
</script>

<style></style>
