<template>
  <div class="container full-width">
    <div class="row wrap justify-center">
      <course-card
        class="q-ma-md"
        v-for="course in courses"
        v-bind:key="course"
        :course="course"
      />
    </div>
  </div>
</template>

<script>
import { inject } from "vue";
import CourseCard from "./CourseCard.vue";
export default {
  components: { CourseCard },
  setup() {
    const store = inject("store");
    return {
      store,
    };
  },
  async mounted() {
    await this.getMyCourses();
  },
  data() {
    return { courses: [] };
  },
  methods: {
    async getMyCourses() {
      const response = await this.store.methods.getMyCourses(
        this.$route.params.id
      );
      this.courses = response.data;
    },
  },
};
</script>

<style></style>
