<template>
  <video class="col-12" ref="video" controls v-bind:src="video_url"></video>
</template>

<script>
import { Cloudinary } from "@cloudinary/url-gen";
import { inject } from "vue";
export default {
  name: "VideoComponent",
  setup() {
    const emitter = inject("emitter");
    const cld = new Cloudinary({
      cloud: {
        cloudName: "bakademy",
      },
    });

    return {
      cld,
      emitter,
    };
  },
  created() {
    this.emitter.on("content-click", (e) => {
      this.itemClicked(e);
    });
  },
  data() {
    return {
      video_url: "",
    };
  },
  mounted() {
    const vd = this.$refs.video;
    vd.addEventListener("ended", this.videoEnded);
  },

  beforeUnmount() {
    const vd = this.$refs.video;
    vd.removeEventListener("ended", this.videoEnded, true);
    this.emitter.all.clear();
  },
  methods: {
    itemClicked(values) {
      const video = this.cld.video(values.fileName);
      this.video_url = video.toURL();
    },
    videoEnded() {
      alert("ended");
    },
  },
};
</script>

<style></style>
