<template>
  <q-layout view="hHh lpR fFf">
    <q-header reveal elevated class="bg-primary text-white" height-hint="98">
      <q-toolbar class="row">
        <q-btn dense flat round icon="menu" @click="toggleLeftDrawer" />

        <q-toolbar-title>
          <q-avatar>
            <q-img src="../assets/logo.png" />
          </q-avatar>
          <router-link to="/" style="text-decoration: none; color: inherit">
            Bakademy
          </router-link>
        </q-toolbar-title>

        <q-tabs align="right" class="q-ma-md">
          <q-route-tab
            v-if="!store.getters.getisLogged()"
            to="/login"
            label="Login/Sign Up"
          />
          <account-tab v-if="store.getters.getisLogged()" align="right" />
          <q-btn-dropdown
            flat
            split
            class="text-white"
            label="Cart"
            icon="shopping_cart"
          >
            <cart-component />
          </q-btn-dropdown>
        </q-tabs>
      </q-toolbar>
    </q-header>

    <q-drawer v-model="leftDrawerOpen" side="left" overlay bordered>
      <!-- drawer content -->
    </q-drawer>

    <q-page-container class="q-pa-lg">
      <router-view />
    </q-page-container>
  </q-layout>
</template>

<script>
import { ref, inject } from "vue";
import AccountTab from "src/components/AccountTab.vue";
import CartComponent from "src/components/CartComponent.vue";

export default {
  components: { AccountTab, CartComponent },
  setup() {
    const leftDrawerOpen = ref(false);
    const store = inject("store");
    return {
      leftDrawerOpen,
      store,
      toggleLeftDrawer() {
        leftDrawerOpen.value = !leftDrawerOpen.value;
      },
    };
  },
};
</script>
